body {
    background-color: #FFEB3B; /* Fundo amarelo claro */
    color: #3E2723; /* Texto marrom escuro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
}

header {
    background-color: #FF4081; /* Cabeçalho rosa vibrante */
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
}

h2, h3 {
    color: #FF4081; /* Títulos em rosa vibrante */
    text-align: center;
    font-size: 210%;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column; /* Organiza itens em coluna */
    align-items: center; /* Centraliza o conteúdo */
    margin: 20px; /* Espaçamento ao redor do container */
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: block; /* Cada label ocupa uma linha */
    margin: 10px 0 5px; /* Espaçamento entre o label e o input */
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Aumentar o espaço entre inputs */
    border: 1px solid #ccc;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #FF4081; /* Rodapé rosa vibrante */
    color: white;
    width: 100%;
}


button {
    background-color: #00B0FF; /* Botões em azul claro */
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0091EA; /* Azul mais escuro ao passar o mouse */
}



